@media only screen and (max-width: 993px) {
    body{
        overflow-x: hidden;
    }

    .wrapper-header .logo{
         font-size: 60px;
    }
    .wrapper-header .slogan{
        font-size: 34px;
    }
    .wrapper-header .download-learnmore{
        font-size: 26px;
    }

    .second-wrapper .second-wrapper-content-text{
        font-size: 38px;
    }
    .second-wrapper .second-wrapper-grid h1{
        font-size: 26px;
    }
    .second-wrapper .second-wrapper-grid p{
        font-size: 14px;
    }
    .second-wrapper .card1-img{
        height: 90%;
    }
     .second-wrapper .card2-img{
        height: 90%;
    }
     .second-wrapper .card3-img{
        height: 90%;
    }
     .second-wrapper .card4-img{
        height: 90%;
    }
    .first-wrapper .first-wrapper-content {
        justify-content: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .first-wrapper .first-wrapper-content-text h1{
        font-size: 38px;
    }
    .first-wrapper .first-wrapper-content-text p{
        font-size: 20px;
    }
    .first-wrapper .first-wrapper-content-img-1{
        width: 250px;
    }
    .third-wrapper .third-wrapper-content-text{
        font-size: 38px;
    }
    .third-wrapper-relative-wrapper img{
        width: 15%
    }
    .fourth-wrapper .fourth-wrapper-content-text{
        padding-right: 5%;
    }
    .fourth-wrapper .fourth-wrapper-content-text-h1{
        font-size: 38px;
    }
    .fourth-wrapper .fourth-wrapper-content-text-p{
        font-size: 20px;
    }
    .fourth-wrapper .fourth-wrapper-content-img{
        width: 50%;
    }
    .fourth-wrapper .fourth_frame-Google-Pixel-4a{
        width: 100%;
    }
    .fourth-wrapper .locker{
        width: 90%;
        left: -40%;
        top: 40%;
    }
    .fifth-wrapper .en-fifth-wrapper-content-text{
        padding-right: 1%;
        padding-left: 10%;
        background-color: bisque;
    }
    .fifth-wrapper .fifth-wrapper-h1{
        font-size: 38px;
    }
    .fifth-wrapper .fifth-wrapper-p{
        font-size: 20px;
    }
    .fifth-wrapper .en-SamsungS_S10_plus_1{
        height: 100%;
        width: 100%;
    }
    .fifth-wrapper .SamsungS_S10_plus_1{
        height: 100%;
        width: 100%;
    }
    .fifth-wrapper .en-SamsungS_S10_plus_2{
        height: 70%;
        width: 70%;
        padding-left: 0;
        display: none;
    }
    .fifth-wrapper .SamsungS_S10_plus_2{
        height: 70%;
        width: 70%;
        padding-left: 0;
        display: none;
    }
    .fifth-wrapper .en-man_icon{
        width: 60%;
        left: 55%;
        top: 50%;
        position: absolute;
    }
    .fifth-wrapper .man_icon{
        width: 60%;
        left: 55%;
        top: 50%;
        position: absolute;
    }
    .fifth-wrapper .fifth-wrapper-content-text{
        padding-left: 7%;
    }
    .fifth-wrapper .en-fifth-wrapper-content-img{
        position: relative;
        display: flex;
        width: 55%;
    }
    .fifth-wrapper .fifth-wrapper-content-img{
        width: 70%;
        padding-right: 0;
    }
    .footer .footer-content-text{
        font-size: 20;
    }
}

@media only screen and (max-width: 768px) {

    .wrapper-header .logo{
         font-size: 50px;
    }
    .wrapper-header .slogan{
        font-size: 28px;
    }
    .wrapper-header .download-learnmore{
        font-size: 22px;
    }

    .second-wrapper .second-wrapper-grid{
        grid-row-gap: 12%;
        grid-template-columns: auto;
        justify-content: center;
        padding-bottom: 30%;
    }
    .second-wrapper .second-wrapper-content-text{
        font-size: 32px;
    }
    .second-wrapper .second-wrapper-grid h1{
        font-size: 24px;
    }
    .second-wrapper .second-wrapper-grid p{
        font-size: 14px;
    }
    .second-wrapper .card1-img{
        padding-bottom: 2%;
        height: 70%;
    }
    .second-wrapper .card2{
    padding-left: 0;
    }
    .second-wrapper .card2-img{
        padding-bottom: 4%;
        height: 70%;
    }
    .second-wrapper .card3-img{
        padding-bottom: 0%;
        height: 70%;
    }
    .second-wrapper .card4{
        padding-left: 0;
    }
    .second-wrapper .card4-img{
        padding-bottom: 2%;
        height: 70%;
    }
    .first-wrapper .first-wrapper-content{
        padding-top: 10%;
        padding-bottom: 10%;
        display: block;
    }
    .first-wrapper .first-wrapper-content-text{
        text-align: center;
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 5%;
    }
    .first-wrapper .first-wrapper-content-text h1{
        font-size: 32px;
    }
    .first-wrapper .first-wrapper-content-text p{
        font-size: 14px;
    }
    .first-wrapper .first-wrapper-img{
        justify-content: center;
        display: flex;
    }
    .first-wrapper .first-wrapper-content-img-1{
        width: 40%;
    }
    .third-wrapper .third-wrapper-content-text{
        font-size: 29px;
    }
    .third-wrapper{
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .third-wrapper p{
        margin-bottom: auto;
        margin-top: auto;
    }
    .third-wrapper-relative-wrapper img{
        width: 18%
    }
    .third-wrapper-relative-wrapper{
        padding-bottom: 5%;
        padding-top: 5%;
    }
    .fourth-wrapper .fourth-wrapper-content-text-h1{
        font-size: 32px;
    }
    .fourth-wrapper .fourth-wrapper-content-text-p{
        font-size: 14px;
        padding-right: 0%;
    }
    .fourth-wrapper .fourth-wrapper-content-img{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .fourth-wrapper .fourth-wrapper-content{
        display: block;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .fourth-wrapper .fourth-wrapper-content-text{
        padding-bottom: 10%;
        text-align: center;
        padding-left: 0%;
        padding-right: 0%;
    }
    .fourth-wrapper .fourth_frame-Google-Pixel-4a{
        width: 100%;
        display: none;
    }
    .fourth-wrapper .locker{
        width: 210%;
        left: -80%;
        display: none;
    }
    .fourth-wrapper .fourth-frame-mobile{
        display: block;
        width: 45%;
    }
    .fifth-wrapper .fifth-wrapper-h1{
        font-size: 32px;
    }
    .fifth-wrapper .fifth-wrapper-p{
        font-size: 14px;
    }
    .fifth-wrapper .en-SamsungS_S10_plus_1{
        height: 100%;
        width: 100%;
    }
    .fifth-wrapper .SamsungS_S10_plus_1{
        height: 100%;
        width: 100%;
        display: none;
    }
    .fifth-wrapper .en-SamsungS_S10_plus_2{
        height: 70%;
        width: 70%;
        padding-left: 0;
        display: none;
    }
    .fifth-wrapper .SamsungS_S10_plus_2{
        height: 70%;
        width: 70%;
        padding-left: 0;
    }
    .fifth-wrapper. en-man_icon{
        width: 200%;
        left: -15%;
        top: 5%;
        position: absolute;
    }
    .fifth-wrapper .man_icon{
        width: 180%;
        left: -4%;
        top: 14%;
        position: absolute;
        display: none;
    }
    .fifth-wrapper .mobile-fifth-frame{
        display: block;
        width: 45%;
    }
    .fifth-wrapper .mobile2-fifth-frame{
        display: block;
        width: 45%;
    }

    .fifth-wrapper .en-fifth-wrapper-content-text{
        padding-right: 1%;
        padding-left: 10%;
        background-color: bisque;
    }
    .fifth-wrapper .fifth-wrapper-content{
    display: block;
    }
    .fifth-wrapper .fifth-wrapper-content-text{
        padding-left: 0%;
        padding-right: 0%;
        text-align: center;
        padding-bottom: 10%;
    }
    .fifth-wrapper .fifth-wrapper-content-img{
        width: 60%;
        padding-right: 0;
    }
    .fifth-wrapper .fifth-wrapper-content-img-mobile{
        justify-content: space-around;
        display: flex;
    }
    .footer .footer-content-text{
        font-size: 14px;
    }
    .footer .change-language{
        width: 8%;
    }
    .footer .change-language-img{
        width: 100%;
    }

}

@media only screen and (max-width: 550px) {
    .wrapper-header .logo{
        font-size: 40px;
    }
    .wrapper-header .slogan {
        font-size: 24px;
    }
    .wrapper-header .download-learnmore {
        font-size: 18px;
    }
    .second-wrapper .second-wrapper-content-text {
        font-size: 32px;
        padding-bottom: 5%;
        padding-top: 15%;
    }
    .second-wrapper .second-wrapper-grid{
        padding-bottom: 50%;
    }
    .first-wrapper .first-wrapper-content-text h1 {
        font-size: 32px;
    }
    .first-wrapper .first-wrapper-content-text p {
        font-size: 14px;
    }
    .first-wrapper .first-wrapper-content-img-1 {
        width: 60%;
    }
    .third-wrapper-relative-wrapper {
        padding-bottom: 15%;
        padding-top: 15%;
    }
    .fourth-wrapper .fourth-wrapper-content-text-h1{
        font-size: 32px;
    }
    .fourth-wrapper .fourth-wrapper-content-text-p {
        font-size: 14px;
        padding-right: 0%;
    }
    .wrapper-header .link-topp{
        display: block;
    }
    .wrapper-header .link-top-mobile{
        display: block
    }
    .wrapper-header .link-top-pc{
        display: none;
    }
}
@media only screen and (max-width: 350px) {
    .second-wrapper .second-wrapper-grid {
        padding-bottom: 60%;
    }
    .wrapper-header .logo {
        font-size: 40px;
    }
    .wrapper-header .slogan {
        font-size: 18px;
    }
    .wrapper-header .slogan {
        font-size: 18px;
    }
    .footer .footer-content-text {
        font-size: 8px;
    }
}