@font-face {
    font-family:'Poppins-Bold';
    src: local('Poppins-Bold'), url(/static/main/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family:'Poppins-Medium';
    src: local('Poppins-Medium'), url(/static/main/fonts/Poppins-Medium.ttf);
}

body {
display: block;
}


.app{

scroll-behavior: smooth;
}

.container{
max-width: 1280px;
padding: 0 30px;
margin: 0 auto;
}
.wrapper-header{
background-image: url(/static/main/img/header.png);
background-position: 50%;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 100%;
align-items: center;
justify-content: center;
display: flex;
}
.content-wrapper-header{

}
.logo{
color: white;
font-size: 84px;
display: flex;
justify-content: center;
align-items: center;
}
.slogan{
color: white;
font-size: 54px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.download-learnmore{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
font-size: 30px;
gap: 5%;
padding-top: 4%;
}
.learn-more-link{
color: lightskyblue;
text-decoration: none;
background-image: linear-gradient(currentColor, currentColor);
background-position: 0% 100%;
background-repeat: no-repeat;
background-size: 0% 2px;
transition: background-size .3s;
}

.learn-more-link:hover{
background-size: 100% 2px;
color: powderblue;
}
.header-download {
border: none;
background: none;
}
.header-download-link{
color: lightskyblue;
text-decoration: none;
background-image: linear-gradient(currentColor, currentColor);
background-position: 0% 100%;
background-repeat: no-repeat;
background-size: 0% 2px;
transition: background-size .3s;
}
.header-download-link:hover{
background-size: 100% 2px;
color: powderblue;
}

.second-wrapper{
background-color: white;
width: 100%;
position: relative;
}
.second-wrapper-grid{
display: grid;
grid-row-gap: 20%;
grid-template-columns: 50% 50%;
padding-bottom: 12%;
align-items: center;
}
.second-wrapper-grid h1{
font-size: 34px;
}
.second-wrapper-grid p{
font-size: 20px;
color: darkslategray;
}
.second-wrapper-content-text{
color: black;
font-size: 54px;
text-align: center;
padding-bottom: 5%;
padding-top: 5%
}
.second-wrapper-content1{
display: flex;
height: 10%;
}
.card1{
align-items: center;
display: flex;
height: 70%;

}
.card1-text{
padding-left: 2%;
}
.card2{
padding-left: 20%;
align-items: center;
display: flex;
height: 70%;
}
.card2-text{
padding-left: 2%;
}
.card3{
align-items: center;
display: flex;
height: 60%;
}
.card3-text{
padding-left: 2%;
}
.card4{
padding-left: 20%;
align-items: center;
display: flex;
height: 60%;
}
.card4-text{
padding-left: 2%;
}
.first-wrapper{
background-color: #F0F4FF;
width: 100%;
align-items: center;
display: flex;
}
.first-wrapper-content{
display: flex;
align-items: center;
padding-top: 10%;
padding-bottom: 10%;
}
.first-wrapper-content-text{
background-color: bisque;
font-size: 500px;
height: 20%;
padding-left: 2%;
padding-right: 2%;
}
.first-wrapper-content-text h1{
color: black;
font-size: 54px;
}

.first-wrapper-content-text p{
color: black;
font-size: 30px;
}

.first-wrapper-hr{
color: black;
margin-left: 0;
width: 100%;
opacity: 75%;
}
.first-wrapper-content-img-1{
width: 50%;
height: 50%;
padding-left: 3%
}

.third-wrapper{
background-color: white;
width: 100%;
}

.third-wrapper-content-text{
color: black;
font-size: 50px;
align-items: center;
justify-content: center;
text-align: center;
display: flex;
padding-top: 1%;
padding-bottom: 1%;
}

.third-wrapper-relative-wrapper{
background-color: #F0F4FF;
width: 100%;
display: inline-flex;
justify-content: space-evenly;
padding-bottom: 3%;
padding-top: 3%;
}
.third-wrapper-relative-wrapper-img{
display: flex;
justify-content: space-evenly;
}
.Google_Pixel_5{
padding-top: 1%;
padding-bottom: 2%;
}
.Samsung_Galaxy_Note20_Ultra_5G{
padding-top: 3%;
}
.OnePlus_8_Pro{
padding-bottom: 2%;
padding-top: 1%;
}
.Samsung_Galaxy_S20_5G{
padding-top: 3%;
}

.fourth-wrapper{
background-color: white;
width: 100%;
position: relative;
}

.fourth-wrapper-content{
align-items: center;
display: flex;
padding-top: 5%;
padding-bottom: 5%;
}
.fourth-wrapper-content-text{
position: relative;
padding-left: 2%;
padding-right: 2%;
background-color: bisque;
}
.fourth-wrapper-content-text-h1{
color: black;
font-size: 54px;
}
.fourth-wrapper-content-text-p{
color: black;
font-size: 30px;
padding-right: 18%;
}
.fourth-wrapper-content-img{
position: relative;
}
.locker{
position: absolute;
left: -100%;
}

.fourth-wrapper-hr{
color: black;
margin-left: 0;
width: 100%;
opacity: 75%;
}

.fifth-wrapper{
align-items: center;
position: relative;
background-color: #F0F4FF;
width: 100%;
position: relative;
display: flex;
}

.fifth-wrapper-content{
display: flex;
padding-top: 10%;
padding-bottom: 10%;
align-items: center;
position: relative;
}
.fifth-wrapper-content-img{
position: relative;
display: flex;
padding-right: 0.7%;
}
.en-fifth-wrapper-content-img{
position: relative;
display: flex;
}
.en-fifth-wrapper-content-text{
padding-right: 1%;
padding-left: 2%;
background-color: bisque;
}
.fifth-wrapper-content-text{
padding-right: 1%;
padding-left: 5%;
background-color: bisque;
}
.fifth-wrapper-h1{
font-size: 54px;
}
.fifth-wrapper-p{
font-size: 30px;
}
.SamsungS_S10_plus_2{
padding-left: 2%;
}
.en-SamsungS_S10_plus_2{
padding-left: 2%;
}
.man_icon{
left: -15%;
top: -15%;
position: absolute;
}
.en-man_icon{
left: -15%;
top: -15%;
position: absolute;
}

.footer{
background-color: #000;
display: grid;
width: 100%;
}
.footer-content{
padding-top: 3%;
padding-bottom: 3%;
text-align: center;
color: #fff;
}
.change-language:hover{
text-decoration: none;
}
.change-language{
display: flex;
text-decoration: none;
justify-content: end;
}
.change-language-img{
text-decoration: none;


}
.footer-content-text{
font-size: 30px;
display: flex;
align-items: center;
justify-content: space-between;
}
.change-language-ru{
display: flex;
text-decoration: none;
justify-content: end;
}